RewriteEngine On
RewriteBase /
Options +FollowSymlinks
RewriteRule ^.htaccess$ - [F]
RewriteRule ^news$ view-section.php\?id=1
RewriteRule ^articles$ view-section.php\?id=2
RewriteRule ^gallery$ view-section.php\?id=3
RewriteRule ^forum$ view-section.php\?id=4
RewriteRule ^links$ links.php
RewriteRule ^mark$ mark.php
RewriteRule ^register$ register.php
RewriteRule ^faq$ faq.php
RewriteRule ^users$ users.php
RewriteRule ^users_page_([0-9]*)?$ users.php?page=$1
RewriteRule ^comments$ view-comments.php
RewriteRule ^comments_offset_([0-9]*)_(.*)$ view-comments.php?user=$2&offset=$1
RewriteRule ^comments_(.*)$ view-comments.php?user=$1
RewriteRule ^replys$ view-comments.php?resp
RewriteRule ^replys_offset_([0-9]*)_(.*)$ view-comments.php?resp&user=$2&offset=$1
RewriteRule ^replys_(.*)$ view-comments.php?resp&user=$1
RewriteRule ^unconfirmed$ view-all.php
RewriteRule ^tracker$ tracker.php
RewriteRule ^tracker_([0-9]*)$ tracker.php?h=$1
RewriteRule ^message_([0-9]*)$ show-message.php?id=$1
RewriteRule ^set_filter_([0-9]*)$ set-filter.php?id=$1
RewriteRule ^search$ search.php
RewriteRule ^rules$ rules.php
RewriteRule ^admin$ admin.php
RewriteRule ^login$ login.php
RewriteRule ^logout$ login.php?logout
RewriteRule ^message_([0-9]*):edit$ edit-message.php?id=$1
RewriteRule ^comment_into_([0-9]*)_on_([0-9]*)$ comment.php?answerto=$1&cid=$2
RewriteRule ^new_thread_in_sect_([0-9]*)$ add-content.php?section=$1
RewriteRule ^new_thread_in_sect_([0-9]*)_subsect_([0-9]*)$ add-content.php?section=$1&subsection=$2
RewriteRule ^articles_([0-9]*)_page_([0-9]*)$ art.php?id=$1&page=$2
RewriteRule ^articles_([0-9]*)$ art.php?id=$1
RewriteRule ^forum_([0-9]*)_page_([0-9]*)$ group.php?id=$1&page=$2
RewriteRule ^forum_([0-9]*)$ group.php?id=$1
RewriteRule ^news_([0-9]*)_page_([0-9]*)$ news.php?id=$1&page=$2
RewriteRule ^news_([0-9]*)$ news.php?id=$1
RewriteRule ^gallery_([0-9]*)_page_([0-9]*)$ gallery.php?id=$1&page=$2
RewriteRule ^gallery_([0-9]*)$ gallery.php?id=$1
RewriteRule ^thread_([0-9]*)$ message.php?newsid=$1
RewriteRule ^thread_([0-9]*)_page_([0-9]*)$ message.php?newsid=$1&page=$2
RewriteRule ^profile$ profile.php
RewriteRule ^approve_thread_([0-9]*)$ moder.php?action=approve_thread&tid=$1
RewriteRule ^detach_thread_([0-9]*)$ moder.php?action=detach_thread&tid=$1
RewriteRule ^attach_thread_([0-9]*)$ moder.php?action=attach_thread&tid=$1
RewriteRule ^move_thread_([0-9]*)$ moder.php?action=move_thread&tid=$1
RewriteRule ^user_([a-zA-Z0-9\_\-]{2,})$ profile.php?user=$1
RewriteRule ^user_([a-zA-Z0-9\_\-]{2,}):edit$ profile.php?user=$1&edit=1
RewriteRule ^rss$ view-rss.php
RewriteRule ^rss_from_sect_([0-9]*)$ view-rss.php?section=$1
RewriteRule ^rss_from_sect_([0-9]*)_subsect_([0-9]*)$ view-rss.php?section=$1&subsection=$2
RewriteRule ^rss_from_sect_([0-9]*)_subsect_([0-9]*)_thread_([0-9]*)$ view-rss.php?section=$1&subsection=$2&newsid=$3
RewriteRule ^manage_blocks$ admin.php?action=manage_blocks_ui
RewriteRule ^install_block$ admin.php?action=manage_blocks_ui&set=install_block
RewriteRule ^remove_block$ admin.php?action=manage_blocks_ui&set=remove_block
RewriteRule ^install_block_act$ admin.php?action=install_block
RewriteRule ^remove_block_act$ admin.php?action=remove_block
RewriteRule ^manage_filters$ admin.php?action=manage_filters_ui
RewriteRule ^install_filter$ admin.php?action=manage_filters_ui&set=install_filter
RewriteRule ^remove_filter$ admin.php?action=manage_filters_ui&set=remove_filter
RewriteRule ^install_filter_act$ admin.php?action=install_filter
RewriteRule ^remove_filter_act$ admin.php?action=remove_filter
RewriteRule ^manage_themes$ admin.php?action=manage_themes_ui
RewriteRule ^install_theme$ admin.php?action=manage_themes_ui&set=install_theme
RewriteRule ^remove_theme$ admin.php?action=manage_themes_ui&set=remove_theme
RewriteRule ^install_theme_act$ admin.php?action=install_theme
RewriteRule ^remove_theme_act$ admin.php?action=remove_theme
RewriteRule ^manage_marks$ admin.php?action=manage_marks_ui
RewriteRule ^install_mark$ admin.php?action=manage_marks_ui&set=install_mark
RewriteRule ^remove_mark$ admin.php?action=manage_marks_ui&set=remove_mark
RewriteRule ^install_mark_act$ admin.php?action=install_mark
RewriteRule ^remove_mark_act$ admin.php?action=remove_mark
RewriteRule ^manage_subsections$ admin.php?action=manage_subsections_ui
RewriteRule ^add_subsection$ admin.php?action=manage_subsections_ui&set=add_subsection
RewriteRule ^add_subsection_([0-9]*)$ admin.php?action=manage_subsections_ui&set=add_subsection&section=$1
RewriteRule ^remove_subsection$ admin.php?action=manage_subsections_ui&set=remove_subsection
RewriteRule ^remove_subsection_([0-9]*)$ admin.php?action=manage_subsections_ui&set=remove_subsection&section=$1
RewriteRule ^add_subsection_act$ admin.php?action=add_subsection
RewriteRule ^remove_subsection_act$ admin.php?action=remove_subsection
RewriteRule ^edit_settings$ admin.php?action=edit_settings_ui
RewriteRule ^change_pass$ admin.php?action=edit_settings_ui&set=change_pass
RewriteRule ^change_letter$ action=edit_settings_ui&set=change_letter
RewriteRule ^change_rules$ admin.php?action=edit_settings_ui&set=change_rules
RewriteRule ^change_title$ admin.php?action=edit_settings_ui&set=change_title
RewriteRule ^remove_message$ admin.php?action=remove_message_ui
RewriteRule ^remove_message_act$ admin.php?action=remove_message
RewriteRule ^remove_thread$ admin.php?action=remove_thread_ui
RewriteRule ^remove_thread_act$ admin.php?action=remove_thread
RewriteRule ^edit_settings_act$ admin.php?action=edit_settings