/* (c) ???? ????????? 1999 <maxcom@vinchi.ru> */

BODY { 
	font-family: serif;
	background: #ffffff;
	color: #000000;
}


.hr { background: #000000; }
hr { color: #000000; }

H1 { 
	color: #000000; 
}
H2 { color: #000000; }

H1 A { text-decoration: none; }

.boxlet_title_div
   { 
    text-align: center; 
    color: white; 
    font-size: medium; 
    font-family: serif; 
    background-color: #4876ff;
    border: 1px; 
    padding-bottom: 5px;
    font-weight: bold;
    margin-top: 0px;
   }

DIV.boxlet H3
   {
    font-size: small;
   }

.boxlet_title_div A { text-decoration: none; color: white }
DIV.boxlet A { text-decoration: none; }
DIV.boxlet A:link {color: #0000ee}
DIV.boxlet {
    font-size: small; 
    font-family: serif; 
    text-align: left; 
    background-color: #d0d0d0; 
    border: 1px;
    padding-bottom: 1em;
    margin-bottom: 1em;
   }

DIV.boxlet LI { list-style: inside }

DIV.columnimg
   { 
    font-size: small; 
    font-family: serif; 
    margin-top: 30px; 
    text-align: center; 
   }

/* news items */
.news H2 { font-family: serif; margin-bottom: 5px; margin-top: 5px; }
.news H2 A { text-decoration: none; color: black; }
.news DIV.nav { text-align: left; margin-top: 1em; }
.news { width:100% }
/* view-forum */
DIV.forum A { text-decoration: none }
.color1 { background: #c0c0c0; }

.nav {
  border: #c0c0c0 1px solid;
  background: #f0f0f0;
}

table.nav>tbody>tr>td {
  border: #c0c0c0 1px solid; 
  background-color: #f0f0f0;
}

.newsblog, .nav {
  background-color: white;
}

.newsblog2, .nav {
  background-color: white;
}

.entry-body .nav {
  background-color: white;
}

.pageinfo {
  border: #c0c0c0 1px solid;
  background: #f0f0f0;
}

TR.color2 { background: #f0f0f0; }
.message-table {
  background: #c0c0c0;
  border-spacing: 1px;
}

.message-table td {
  padding: 0;
}

.message-table tbody {
  background: #f0f0f0;
}

.entry-body .nav A {
  text-decoration: underline;
  margin-bottom: 0;
}

div.messages, div.title { background-color: #4876ff; }
.messages .comment .title { background: #90ff90; }
div.messages, div.msg { background: #f0f0f0; }
.messages .comment .nav { text-align: left; font-style: italic; }

/* general */
DIV.notes 
   { 
    text-align: center; 
    font-style: italic; 
    margin-top: 0.5em; 
    margin-bottom: 0.5em;
    border: solid black;
   }

.head-main A { text-decoration: none; color: black }
.head-main A:visited { text-decoration: none; color: black }

.head-main table {
  border-collapse: collapse;
  margin-top: 5px;
  border-style: solid;
  border-color: white;
}

.head-main td { border: 1px solid #c0c0c0; padding: 3px; text-align: right; }

.messages .msg {
  border: 1px solid #f0f0f0;
}

.messages .highLighted {
    border: red solid 1px;
}

.root 
{ 
	color: red; 
	font-weight: bold; 
} 

.moder 
{ 
	color: blue; 
	font-weight: bold; 
}

.user
{ 
	font-weight: bold; 
}