body{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	background:#ffffff;
	font-family:Arial;
}
span{
	font-family:Arial;
	color:#000000;
}
p{
	font-family:Arial;
	color:#000000;
}
div{
	font-family:Arial;
	color:#000000;
}
form{
	font-family:Arial;
	margin:0px;
}
input{
	font-family:Arial;
	font-size: 9pt;
	border:1px solid #000000;
	background:#ffffff;
	color:#000000;
}
.question{
	font-family:Arial;
	color:#000000;
	font-weight:bolder;
	font-style:italic;
}
hr{
	width:80%;
	border:1px solid #cccccc;
	color:#cccccc;
}
.highlite{
	font-family:Arial;
	color:#000000;
	background:#ffd200;
}
.likespan{
	font-family:Arial;
	color:#000000;
}
a.actions{
	font-family:Arial;
	color:#000000;
	font-weight:bolder;
	text-decoration:underline;
}
a.actions:visited{
	font-family:Arial;
	color:#000000;
	font-weight:bolder;
	text-decoration:underline;
}
a.actions:active{
	font-family:Arial;
	color:#ff0000;
	font-weight:bolder;
	text-decoration:underline;
}
a.actions:hover{
	font-family:Arial;
	color:#cccccc;
	font-weight:bolder;
	text-decoration:none;
}
