body{
	background-color:#ffffff;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	padding:0px;
}
/*input{
	border:1px solid;
	border-color:#6a6c9b;
	background-color:#ffffff;
	color:gray;
	font-size:10pt;
	font-family:Arial;
}
select{
	border:1px solid;
	border-color:#6a6c9b;
	background-color:#ffffff;
	color:gray;
	font-size:10pt;
	font-family:Arial;
}
textarea{
	border:1px solid;
	border-color:#6a6c9b;
	background-color:#ffffff;
	color:gray;
	font-size:10pt;
	font-family:Arial;
}*/
.tbtext{
	color:white;
	font-size:12px;
	font-family:Arial;
}
span{
	color:gray;
	font-size:12px;
	font-family:Arial;
}
.infotext{
	color:green;
	font-size:12px;
	font-family:Arial;
}
a{
	color:#6a6c9b;
	text-decoration:none;
	font-size:12px;
	font-family:Arial;
}
h1{
	font-size:38px;
	font-family:Arial;
	color:silver;
}
.linkspan{
	color:#386186;
	font-size:12pt;
}
.linkspan:hover{
	color:#528dc4;
	font-size:12pt;
}
.menulink{
	color:white;
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
	font-family:Arial;
}
a:hover{
	color:#6d9dff;
	font-size:12px;
	font-family:Arial;
}
th{
	color:#000000;
	font-weight:bold;
	font-size:12px;
	font-family:Arial;
	height: 32px;
	background-image:url(../img/thbg.png);
	border-left: solid 1px #ffffff;
	border-bottom: solid 1px #ffffff;
}
td{
	color:gray;
	font-size:12px;
	font-family:Arial;
}
tr.highlite{
	background-color:#eaeaea;
}
tr.highlite:hover{
	background-color:#d9d9d9;
}
#modulename{
	font-size:20pt;
	font-family:Arial;
	font-weight:bold;
	color:silver;
}
#modulename:hover{
	font-size:20pt;
	font-family:Arial;
	font-weight:bold;
	color:silver;
	text-decoration:underline;
}
.botbar{
	color:#ffffff;
	font-size:12px;
	font-family:Arial;
	background-color:#000000;
	border:1px solid #000000;
	padding:1pt;
}
.hidden{
	color:#ffffff;
	font-size:12px;
	font-family:Arial;
	background-color:#686868;
	border:1px solid #000000;
	background-image:url(../img/3.jpg);
	padding:0px;
	margin:0px;
	height:32px;
}
.menu-hidden{
   display:none;
   position:relative;
}
.menu-element{
	height:20px;
	color:#ffffff;
}
.menu-element:hover{
	background-color: #2c2c2c;
	color:#6d9dff;
}
.closed-win{
	width: 0px;
	height: 0px;
	border: none;
}
.menu-shown{
   display:block;
   position:absolute;
	z-index:999;
   font-size:9pt;
	color:#000000;/*dedede*/
   border-right:solid 2px #464646;
   border-bottom:solid 2px #464646;
	border-left:solid 15px #464646;
   padding:3pt;
   background-color:#000000;
   text-align:left;
   font-weight:bold;
	filter:alpha(opacity=85); /* IE 5.5+*/
	-moz-opacity: 0.85; /* Mozilla 1.6 и ниже */
	-khtml-opacity: 0.85; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.85; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}
#toc{
	cellspadding:0;
	cellspacing:0;
	background-color: #eaeaea;
}