/* (c) ???? ????????? 1999 <maxcom@vinchi.ru> */

@font-face
{
	font-family: 'TerminusRe33';
	src:
		url('fonts/TerminusRe33-Bold.ttf')  format('truetype')
}

BODY 
{ 
	font-family: TerminusRe33;
	background: #000000;
	color: #a3d1ab;
}

A 
{ 
	color: #c9bb91; 
	text-decoration: none; 
}

A:link 
{ 
	color: #c9bb91; 
}

A:hover 
{ 
	color: #c9bb91
}

.hr 
{ 
	background: #000000; 
}

hr 
{ 
	color: #446347;
}

H1 
{ 
	color: #a3d1ab; 
}

H2 
{ 
	color: #a3d1ab; 
}

H1 A 
{ 
	text-decoration: none; 
}

DIV.boxlet H3
{
	font-size: small;
}

DIV.boxlet H2 A 
{ 
	text-decoration: none; 
	color: white 
}

DIV.boxlet A 
{ 
	text-decoration: none; 
}

DIV.boxlet A:link 
{
	color: #c9bb91;
}

DIV.boxlet {
	font-size: small; 
	text-align: left; 
	color: #a3d1ab;
	background-color: #18251a; 
	border: 1px;
	border-color: #446347;
	border-style: solid;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

DIV.boxlet LI 
{ 
	list-style: inside 
}

DIV.columnimg
{ 
	font-size: small; 
	margin-top: 30px; 
	text-align: center; 
}

.news H2 
{ 
	margin-bottom: 5px; 
	margin-top: 5px;
	text-align: center;
}

.news H2 A 
{ 
	text-decoration: none; 
	color: #c9bb91;
}

.news DIV.nav 
{ 
	text-align: left; 
	margin-top: 1em; 
}

.news 
{ 
	width:100%
}

DIV.forum A
{
	text-decoration: none
}

.color1
{
	background: #c0c0c0;
}

.nav
{
	border: #c0c0c0 1px solid;
	background: #f0f0f0;
}

table.nav>tbody>tr>td 
{
	background-color: #18251a;
	border: 1px;
	border-color: #446347;
	border-style: solid;
}

.newsblog, .nav 
{
	background-color: white;
}

.entry-body .nav 
{
	background-color: white;
}

.pageinfo 
{
	border: #c0c0c0 1px solid;
	background: #f0f0f0;
}

TR.color2 
{ 
	background: #f0f0f0; 
}
.message-table 
{
	background: #446347;
	border-spacing: 1px;
	
}

.message-table td 
{
	padding: 0;
}

.message-table tbody 
{
	background-color: #18251a;
	border: 1px;
	border-color: #446347;
	border-style: solid;
}

.entry-body .nav A 
{
	text-decoration: underline;
	margin-bottom: 0;
}

div.messages
{ 
	background: #446347;
	background-image: url(images/green_lines.jpg);
	
}

div.title 
{ 
	background: #446347;
	background-image: url(images/green_lines.jpg);
	padding: 0;
	border: 1px;
	border-color: #446347;
	border-style: solid;
	
	
}

.messages .comment .title 
{ 
	background: #446347;
	background-image: url(images/green_lines.jpg);
	margin: 0;
}
div.messages, div.msg 
{ 
	background: #18251a; 
	margin: 0;
	padding: 0;
}
.messages .comment .nav 
{ 
	text-align: left; 
	font-style: italic; 
}

/* general */
DIV.notes 
{ 
	text-align: center; 
	font-style: italic; 
	margin-top: 0.5em; 
	margin-bottom: 0.5em;
	border: solid black;
}

.head-main A 
{ 
	text-decoration: none; 
	color: black 
}
.head-main A:visited 
{ 
	text-decoration: none; 
	color: black 
}

.head-main table 
{
	border-collapse: collapse;
	margin-top: 5px;
	border-style: solid;
	border-color: white;
}

.head-main td 
{ 
	border: 1px solid #c0c0c0; 
	padding: 3px; 
	text-align: right; 
}

.messages .msg 
{
	background: #18251a; 
	border: 1px;
	border-color: #446347;
	border-style: solid;
}

.messages .highLighted {
	border: red solid 1px;
}

.boxlet_title
{
	background: #446347;
	padding-right: 10px;
	padding-left: 10px;
	display: inline-block;
	height: 25px;
	
}

.news_title
{
	background: #446347;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline-block;
	height: 25px;
	font-size: medium; 
}

.news_title A
{
	color: #a3d1ab;
}

.pages_title
{
	background: #446347;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline-block;
	height: 25px;
	font-size: medium; 
}

.comment_links
{
	text-align: right;
}

.boxlet_content
{
	padding-left: 15px;
	
}

.title_table
{
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	background-image: url(images/green_lines.jpg);
	height: 25px;
}

.boxlet_title_div
{
	padding-left: 25px;
	text-align: left; 
	color: #a3d1ab; 
	font-weight: bold;
	font-size: medium; 
	background-color: #446347;
	border: 1px;
	border-color: #446347;
	margin-top: 0px;
	background-image: url(images/green_lines.jpg);
	height: 25px;
}

.msg_table_title
{
	background: #446347;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline-block;
	height: 20px;
}

.msg_table_title_tr
{
	background: #446347;
	background-image: url(images/green_lines.jpg);
	padding: 0px;
}

.tracker_title_tr
{
	background: #446347;
	background-image: url(images/green_lines.jpg);
}

.tracker_title
{
	background: #446347;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline-block;
	height: 20px;
}

.comments_title
{
	background: #446347;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline-block;
	height: 20px;
}

.msg_resp
{
	background: #446347;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline-block;
	height: 20px;
}

.root 
{ 
	color: red; 
	font-weight: bold; 
} 

.moder 
{ 
	color: blue; 
	font-weight: bold; 
}

.user
{ 
	font-weight: bold; 
}