body{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	background:#333333;
	font-family:Arial;
}
span{
	font-family:Arial;
	color:#cccccc;
}
p{
	font-family:Arial;
	color:#cccccc;
}
div{
	font-family:Arial;
	color:#cccccc;
}
form{
	font-family:Arial;
	margin:0px;
}
input{
	font-family:Arial;
	font-size: 9pt;
	border:1px solid #cccccc;
	background:#333333;
	color:#cccccc;
}
.question{
	font-family:Arial;
	color:#f8f8f9;
	font-weight:bolder;
	font-style:italic;
}
hr{
	width:80%;
	border:1px solid #cccccc;
	color:#cccccc;
}
.highlite{
	font-family:Arial;
	color:#333333;
	background:#cccccc;
}
.likespan{
	font-family:Arial;
	color:#cccccc;
}
a.actions{
	font-family:Arial;
	color:#99cc33;
	font-weight:bolder;
	text-decor5ation:underline;
}
a.actions:visited{
	font-family:Arial;
	color:#99cc33;
	font-weight:bolder;
	text-decor5ation:underline;
}
a.actions:active{
	font-family:Arial;
	color:#ff0000;
	font-weight:bolder;
	text-decor5ation:underline;
}
a.actions:hover{
	font-family:Arial;
	color:#cccccc;
	font-weight:bolder;
	text-decoration:none;
}