
BODY 
{ 
	font-family: serif;
	background: #ffffff;
	color: #000000;
	background-image: url(images/wall.jpg);
	background-attachment: fixed;
}

A 
{
	color: black; 
	text-decoration: none;
}

A:link 
{ 
	color: black; 
}

A:hover 
{ 
	color: #4466ff;
}

.hr 
{ 
	background: #000000; 
}

hr 
{ 
	color: #000000; 
}

H1 
{ 
	color: #000000; 
}

H2 
{ 
	color: #000000; 
}

H1 A 
{ 
	text-decoration: none; 
}

DIV.boxlet H2
   { 
    text-align: center; 
    color: black; 
    font-size: medium; 
    font-family: serif; 
    background-color: #b8b8b8;
    border: 1px; 
    padding-bottom: 5px;
    font-weight: bold;
    margin-top: 0px;
	-moz-border-radius: 5px 5px 0 0 ;
	-webkit-border-radius: 5px 5px 0 0 ;
	-khtml-border-radius: 5px 5px 0 0 ;
	border-radius: 5px 5px 0 0 ;
	background-image: url(images/gray.png);
   }

DIV.boxlet H3
 {
	font-size: small;
}

DIV.boxlet H2 A 
{ 
	text-decoration: none; 
	color: black; 
}

DIV.boxlet A 
{ 
	text-decoration: none; 
	color: black;
}

DIV.boxlet A:link 
{
	color: black;
}

DIV.boxlet 
{
    font-size: small; 
    font-family: serif; 
    text-align: left; 
    background-color: #e4e4e4; 
    border: 1px;
    padding-bottom: 1em;
    margin-bottom: 1em;
	-moz-border-radius: 5px 5px 5px 5px ;
	-webkit-border-radius: 5px 5px 5px 5px ;
	-khtml-border-radius: 5px 5px 5px 5px ;
	border-radius: 5px 5px 5px 5px ;
}

DIV.boxlet LI 
{ 
	list-style: inside 
}

DIV.columnimg
{ 
    font-size: small; 
    font-family: serif; 
    margin-top: 30px; 
    text-align: center; 
}


.news H2 
{ 
	font-family: serif; 
	margin-bottom: 5px; 
	margin-top: 5px; 
}

.news H2 A 
{ 
	text-decoration: none; 
	color: black; 
}

.news DIV.nav 
{ 
	text-align: left; 
	margin-top: 1em; 
}

.news 
{ 
	width:100% 
}

DIV.forum A 
{ 
	text-decoration: none 
}

.color1 
{ 
	background: #c0c0c0; 
}

.nav 
{
	border: #c0c0c0 1px solid;
	-moz-border-radius: 5px 5px 5px 5px ;
	-webkit-border-radius: 5px 5px 5px 5px ;
	-khtml-border-radius: 5px 5px 5px 5px ;
	border-radius: 5px 5px 5px 5px ;
	/*background: #f0f0f0;*/
}

table.nav>tbody>tr>td 
{
	border: #c0c0c0 1px solid; 
	-moz-border-radius: 5px 5px 5px 5px ;
	-webkit-border-radius: 5px 5px 5px 5px ;
	-khtml-border-radius: 5px 5px 5px 5px ;
	border-radius: 5px 5px 5px 5px ;
	/*background-color: #f0f0f0;*/
}

.newsblog, .nav  
{

}

.newsblog2, .nav  
{

}


.entry-body .nav 
{
	background-color: white;
}

.pageinfo 
{
	border: #f0f0f0 2px solid;
	-moz-border-radius: 5px 5px 5px 5px ;
	-webkit-border-radius: 5px 5px 5px 5px ;
	-khtml-border-radius: 5px 5px 5px 5px ;
	border-radius: 5px 5px 5px 5px ;
	background: #e4e4e4;
}

TR.color2 
{ 
	background: #f0f0f0; 
}

.message-table 
{
	background: #b8b8b8;
	border-spacing: 1px;
  	-moz-border-radius: 5px 5px 5px 5px ;
	-webkit-border-radius: 5px 5px 5px 5px ;
	-khtml-border-radius: 5px 5px 5px 5px ;
	border-radius: 5px 5px 5px 5px ;
	background-image: url(images/gray.png);
}

.message-table td 
{
	padding: 0;
}

.message-table tbody 
{
	background: #e4e4e4;
}

.entry-body .nav A 
{
	text-decoration: underline;
	margin-bottom: 0;
}

div.messages, div.title 
{ 
	background-color: #989898; 
	-moz-border-radius: 5px 5px 0px 0px ;
	-webkit-border-radius: 5px 5px 0px 0px ;
	-khtml-border-radius: 5px 5px 0px 0px ;
	border-radius: 5px 5px 0px 0px ;
	background-image: url(images/gray.png);
}
.messages .comment .title 
{ 
	background: #b8b8b8; 
	-moz-border-radius: 5px 5px 5px 5px ;
	-webkit-border-radius: 5px 5px 5px 5px ;
	-khtml-border-radius: 5px 5px 5px 5px ;
	border-radius: 5px 5px 5px 5px ;
	background-image: url(images/gray.png);
}
div.messages, div.msg 
{ 
	background: #e4e4e4;
	-moz-border-radius: 5px 5px 5px 5px ;
	-webkit-border-radius: 5px 5px 5px 5px ;
	-khtml-border-radius: 5px 5px 5px 5px ;
	border-radius: 5px 5px 5px 5px ;
}

.messages .comment .nav 
{ 
	text-align: left; 
	font-style: italic; 
}


DIV.notes 
{ 
	text-align: center; 
	font-style: italic; 
	margin-top: 0.5em; 
	margin-bottom: 0.5em;
	border: solid black;
}

.trc td:hover
{
	background-image: url(images/hover.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.htable A:hover
{
	color: black; 
	text-decoration: none
}

.messages .msg 
{
	border: 1px solid #f0f0f0;
}

.messages .highLighted 
{
	border: black solid 1px;
}
